


<p>Dear Admin someone showed intrest in baharampur touch</p>
<br/>
<p>User,<br/> <%= Name %></p>
<p>email,<br/> <%= email %></p>
<p>shop,<br/> <%= shop %></p>
<p>address,<br/> <%= address %></p>
<p>phone,<br/> <%= phone %></p>
<p>about,<br/> <%= about %></p>
<p><em>Thank you</em> </p>
